{% extends "address_books/base.html" %}



{% block content %}
    <p>通讯录</p>
    <p>通讯录可以管理联系人，并且可以将联系人分组</p>
    {% if user.is_authenticated %}
        <p><a class="btn btn-lg btn-primary" href="{% url 'address_books:categorys' 1 %}" role="button"><span class="glyphicon glyphicon-folder-open"></span> 打开分组</a></p>
    {% else %}
        <p><a class="btn btn-lg btn-primary" href="{% url 'users:login' %}" role="button"><span class="glyphicon glyphicon-user"></span> 登录</a></p>
    {% endif %}
{% endblock content %}
